<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>pastebin.run</title>
<link rel=stylesheet href="/static/codemirror.css">
<link rel=stylesheet href="/static/style.css">
<header>
    <a href="/">
        <h1>pastebin<small>.run</small></h1>
    </a>
</header>
<article>
{% block content %}{% endblock content %}
</article>
<script src="/static/codemirror.js"></script>
<script src="/static/addon/mode/loadmode.js"></script>
<script src="/static/addon/mode/simple.js"></script>
<script src="/static/index.js"></script>
