<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>pastebin.run</title>
<link rel=stylesheet href="/static/style-v2.css">
<meta name=description content="{% block description %}Compile and share code in multiple programming languages{% endblock description %}">
<header id=header>
    <div>
        <a href="/">
            <h1>pastebin<small>.run</small></h1>
        </a>
        <nav id="menu-buttons">
            <ul>
                <li><a href="https://pastebin.run/api">API</a
                ><li><a href="https://gitlab.com/pastebinrun/pastebinrun">Source code</a
            ></ul>
        </nav>
    </div>
</header>
<article id=article>
{% block content %}
{% endblock %}
</article>
