{#
SPDX-FileCopyrightText: 2023 Konrad Borowski <konrad@borowski.pw>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base" %}
{% block content %}
<div id=options>
<p> This page requires a modern web browser with enabled JavaScript support.
</div>
{% endblock content %}
