@use crate::models::language::Selection;
@use crate::models::paste::ExternPaste;
@use crate::models::session::Session;
@use crate::templates::{buttons, header, footer, language_selection};
@(session: &Session, paste: ExternPaste, selection: Selection)

@:header(session)

@Html(paste.markdown)
<form method="post" action="/" id="editor">
    @if let Some(delete_at) = paste.delete_at {
        <div id="autodelete-text">
            This paste will be automatically deleted on @delete_at.format("%Y-%m-%d %H:%M") UTC.
        </div>
    }
    <div id="toolbar">
        @:language_selection(selection)
        @:buttons()
    </div>
    <div id="split">
        <div id="extrafieldsplit">
            <div id="textarea"><textarea id=code name=code>@('\n')@paste.paste</textarea></div>
            <div id="extrafields"></div>
        </div>
    </div>
</form>
<input type=hidden id=dbstdin value="@paste.stdin">
@if let Some(exit_code) = paste.exit_code {
    <input type=hidden id=dbstatus value="@exit_code">
}
@if let Some(stdout) = paste.stdout {
    <input type=hidden id=dbstdout value="@stdout">
}
@if let Some(stderr) = paste.stderr {
    <input type=hidden id=dbstderr value="@stderr">
}
@:footer(session)
