@use crate::models::language::Selection;
@use crate::models::paste::ExternPaste;
@use crate::models::session::Session;
@use crate::templates::{buttons, header, footer, language_selection};
@(session: &Session, paste: ExternPaste, selection: Selection)

@:header(session)

@Html(paste.markdown)
<form method="post" action="/" id="editor">
    <p>
        @:language_selection(selection)
        @if let Some(delete_at) = paste.delete_at {
            <span id="autodelete-text">
                This paste will be automatically deleted on @delete_at.format("%Y-%m-%d %H:%M") UTC.
            </span>
        }
        <span id="automatically-hidden-label">
            <label><input type=checkbox name=autodelete checked> Automatically delete after 24 hours</label>
            <span id=hello-world></span>
        </span>
    </p>
    <p><textarea id=code name=code>@('\n')@paste.paste</textarea></p>
    @:buttons()
</form>
<input type=hidden id=dbstdin value="@paste.stdin">
@if let Some(exit_code) = paste.exit_code {
    <input type=hidden id=dbstatus value="@exit_code">
}
@if let Some(stdout) = paste.stdout {
    <input type=hidden id=dbstdout value="@stdout">
}
@if let Some(stderr) = paste.stderr {
    <input type=hidden id=dbstderr value="@stderr">
}
@:footer(session)
