@use crate::models::session::Session;

@(session: &Session)

<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>pastebin.run</title>
<link rel=stylesheet href="/static/style.css">
<meta name=description content="@session.description">
<header id=header>
    <div>
        <a href="/">
            <h1>pastebin<small>.run</small></h1>
        </a>
        <nav id="menu-buttons"><ul><li><a href="https://gitlab.com/pastebin.run/server">Source code</a></li></ul></nav>
    </div>
</header>
<article id=article>
