@use crate::environment;

@()

<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>pastebin.run</title>
<link rel=stylesheet href="/static/codemirror.css">
<link rel=stylesheet href="/static/style.css">
<meta name=description content="Pastebin.run is a website for privately storing and sharing text online.">
<header>
    <div>
        <a href="/">
            <h1>pastebin<small>.run</small>
            @if !environment::is_production() {
                ⚠️ DEVELOPMENT ⚠️
            }
            </h1>
        </a>
    </div>
</header>
<article>
