@use crate::models::language::Selection;
@use crate::models::session::Session;
@use crate::templates::{buttons, header, footer, language_selection};

@(session: &Session, selection: Selection)

@:header(session)
<form method="post" action="/" id="editor">
    <p>
        @:language_selection(selection)
        <label>
            <input type=checkbox name=autodelete checked> Automatically delete after 24 hours
        </label>
    </p>
    <p><textarea id=code name=code></textarea></p>
    @:buttons()
</form>
@:footer(session)
