<select id=language name=language>
    {% for language in languages %}
        <option
            value="{{language.id}}"
            {% match language.highlighter_mode %}
                {% when Some with (highlighter_mode) %}
                    data-highlighter-mode="{{highlighter_mode}}"
                {% when None %}
            {% endmatch %}
            data-mime="{{language.mime}}"
            {% if language.id == selected_language %}
                selected
            {% endif %}
        >{{language.name}}</option>
    {% endfor %}
</select>