{% extends "base.html" %}
{% block content %}
    {{ paste.markdown|safe }}
    <form method="post" action="/">
        <p>
            {% let selected_language = paste.language_id %}
            {% include "language_selector.html" %}
            {% match paste.delete_at %}
                {% when Some with (delete_at) %}
                    <span data-delete-on-modify>
                        This paste will be automatically deleted on {{delete_at.format("%Y-%m-%d %H:%M")}} UTC.
                    </span>
                {% when None %}
            {% endmatch %}
            <label data-autohide>
                <input type=checkbox name=autodelete checked> Automatically delete after 24 hours
            </label>
        </p>
        <p><textarea id=code name=code>{{ "\n" }}{{ paste.paste }}</textarea></p>
        <p>
            <input type=submit value=Share data-autodisable>
    </form>
{% endblock content %}
